<% var title = 'Admin' %>
<% include head %>

<h1> Bienvenu à vous, <%=prenom %> ! Vous êtes administrateur !</h1>
<br/>
<img src="<%= profilepic%>" width="100" height="100" value="<%= profilepic%>"/>
<br/>

<a href="/editProfile">Modifier votre profile</a>
</br></br>

<a href="/paint">Dessiner</a>
</br></br>

<button onclick="deleteAccount()">Supprimer votre compte</button>


<p>La liste des Utilisateurs : </p>
<div>
    <% for(var i = 0 ; i < users.length ; i++) { %>
    <p> <%= users[i].prenom %> </p>
    <% } %>
</div>

</br></br>
<a href="/logout">Déconnexion</a>

<script>
    function deleteAccount() {
        if(confirm("Supression du compte ?")){
            document.location.href="\deleteAccount";
        }
    }
</script>

<% include foot.ejs %>