<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            background-image:url("./images/galaxy.jpg");
            background-repeat:no-repeat;
            background-attachment: fixed;
            background-size: cover;
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }
        .error {
            color: red
        }
        .success {
            color: green;
        }
    </style>
    <link rel="stylesheet" media="screen" href="styles.css">
</head>
<body></body>